<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center">
<h1>Add Employee</h1>
<form action="/add" method="post" >
	Name: <input type="text" name="name"><br><br>
	ImageLink: <input type="text" name="imagelink"><br><br>
	Salary: <input type="text" name="salary"><br><br>
	Mobile: <input type="text" name="mobile"><br><br>
	<a href="/add"><button>Add</button><br><br></a>
		</form>
	<a href="/"><button>Back</button></a>

</div>

</body>
</html>